
html {
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family:'Segoe UI';
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/*----header----*/

#navbar {
    z-index: 1;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    overflow: hidden;
    background-color: rgba(33, 35, 41, 0.8);
}

#navbar .navbar_links {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

#navbar .navbar_links:hover {
    color: red;
}

#navbar a.active {
    color: #f2f2f2;
}

.content {
    padding: 16px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.BgColour {
    color: black;
    transition: all 1s;
    background-color: #212329;
    border-bottom: 1px solid red;
}

/*header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    background-color: #212329;
    color: #fff;
}

a {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}



.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.nav__links li a:hover {
    color:red;
}*/
.header-img {
    cursor: pointer;
    width: 300px;
}

/*----hero-section----*/

/* CSS */
.button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  .button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
  }
  
  .button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  @media (min-width: 768px) {
    .button-82-front {
      font-size: 1.25rem;
      padding: 12px 42px;
    }
  }
  
  .button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
  }
  
  .button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .button-82-pushable:focus:not(:focus-visible) {
    outline: none;
  }
  
  
.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("img/red.webp");
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    margin-top: 0;
    margin-bottom: 0.5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: ce;
    padding: 0 20px;
    color: #fff;
}

/*----slideshow----*/
.container {
    padding-top: 10px;
    background-color:;
    overflow-y: hidden;

}

.slick-slide{
    margin: 0 20px;
}
.slick-slide img{
    width: 100%;
}
.slick-slider{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    /*
    position: relative;
    display: block;
    box-sizing: border-box;
    */
}
.slick-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 300px;
    height: auto;
    
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.slick-slide img{
    display: block;
}
.slick-initialized .slick-slide{
    display: block;
}
.copy{
    padding-top: 250px;
}
/*----main----*/
main {
    margin: 0;
    background-color:darkgrey;
}


/*----footer----*/

footer {
    margin-top: auto;
}
.footer-container {
    background-color: #212329;
    padding: 4rem 0 2rem 0;
}

.footer {
    width: 80%;
    background-color: #212329;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.footer-heading h2 {
    margin-bottom: 2rem;
    padding-top: 20px;
}

.bottomfooter {
    padding-top: 20px;
}

.footer-heading a {
    
    color:#fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading h3, p {
    margin-bottom: 0.5rem;
}

.service_contant {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.footer-heading a:hover {
    color:red;
    transition: 0.3s ease-out;
}

#bestill_btn {
   width: 150px; 
   height: 40px;
   border-radius: 4px;
   background-color: #F9423D;
   outline: none;
   border: none;
   color: #fff;
   font-size: 15px;
}

#bestill_btn:hover {
    cursor:pointer;
    background-color:seashell;
    color: red;
    transition: all 0.4s ease-out;
}


@media screen and (max-width: 800px) {
    html, body {
        overflow-x: hidden;
    }

}

@media screen and (max-width: 976px) {
    .footer-heading {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 490px) {
    .undertext {
        display: none;

    }
}









