
html {
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family:'Segoe UI';
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/*----header----*/




/* HIDING HAMBURGER ICON */
#navbar label, #hamburger {
    display: none;
}

#navbar {
    z-index: 1;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    overflow: hidden;
    background-color: rgba(33, 35, 41, 0.8);
}

#navbar .navbar_links {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

#navbar .navbar_links:hover {
    color: red;
}



.content {
    padding: 16px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.BgColour {
    color: black;
    transition: all 1s;
    background-color: #212329;
    border-bottom: 1px solid red;
}

.header-img {
    cursor: pointer;
    width: 300px;
    padding-left: 10px;
}



.separaters {
    color: #e2e2e2;
}

@media screen and (max-width: 768px){
   
    .separaters {
        display: none;
    }
    /* BREAK INTO VERTICAL MENU */
    #navbar {
        display: block;
    }
    #navbar a {
        display: inline-block;
        width:90%;
        color: #F9423D;


    }

    #navbar .navbar_links {
        text-align: center;
        margin: auto;
    }
    #navbar label {
        cursor: pointer; 
        margin-bottom: 15px;
        display: inline-block;
        overflow: hidden;

        color: #fff;
        font-size: 2em;
        font-style: normal;
    }

    #navbar label:hover {
        color: #F9423D;
        transition: all 0.3s ease 0s;
    }

    #hamitems.active.navbar_links{
        display: none;
    }

    a#hamitems.navbar_links {
        display: none;
    }

    #navbar input:checked ~ #hamitems {
        display: block;
    }
}

/*----hero-section----*/

/* CSS */
.button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  .button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
  }
  
  .button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  @media (min-width: 768px) {
    .button-82-front {
      font-size: 1.25rem;
      padding: 12px 42px;
    }
  }
  
  .button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
  }
  
  .button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .button-82-pushable:focus:not(:focus-visible) {
    outline: none;
  }
  
  
.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("img/red.webp");
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    margin-top: 0;
    margin-bottom: 0.5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    color: #fff;
}

.hero-text h1 {
    text-shadow: 4px 4px #b71616bf;
}

.hero-text p {
    text-shadow: 2px 2px #b71616bf;
}

.hero-text h2 {
    text-shadow: 4px 4px #b71616bf;
}

/* merker */
.container {
    margin-top: 60px;
    padding-bottom: 30px;
}

.customer-logos {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    width: 100%;
    

}

.image-logo img{
    border-radius: 0.4rem;
    padding: 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    width: auto;
    height: 80px;
    margin-bottom: 20px;
    margin-left: 5px;
}


/*----main----*/
main {
    margin: 0;
    background-image:linear-gradient(#ffffff, rgb(206, 206, 206) );
}

.content {
   color: #333;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title-teknikere {
   display: flex;
   justify-content: center;
   margin: 20px;
}

.teknikere-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    
    
}

.image-tek img {
    border-radius: 50%;
}

.image-tek {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border: 2px solid #e2e2e2;
    background-color: #e2e2e2;
    padding: 5px;
    border-radius: 5px;
    margin: 20px;
    transition: transform .2s;
    cursor: pointer;
}

.image-tek:hover {
    -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

.rounded-dividers {
    display: flex;
    justify-content: center;
    border-top: 2px solid #484848;
    border-radius: 5px;
    margin-top: 40px;
}

.informasjon-container {
    display: flex;
    justify-content: center;
    padding: 50px 200px 40px 200px;
    gap: 12px;
}

.image-kontor {
    width: auto;
    height: 400px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 1rem;
    margin-bottom: 40px;
}

.info {
    font-size: large;
}

.map-container {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}

iframe {
    width: 80%;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    border-radius: 1rem;
   }

/*----footer----*/

footer {
    margin-top: auto;
}
.footer-container {
    background-color: #212329;
    padding: 4rem 0 2rem 0;
}

.footer {
    width: 80%;
    background-color: #212329;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.footer-heading h2 {
    margin-bottom: 2rem;
    padding-top: 20px;
}

.bottomfooter {
    padding-top: 20px;
}

.footer-heading a {
    
    color:#fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading h3, p {
    margin-bottom: 0.5rem;
}

.service_contant {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.footer-heading a:hover {
    color:red;
    transition: 0.3s ease-out;
}

#bestill_btn {
   width: 150px; 
   height: 40px;
   border-radius: 4px;
   background-color: #F9423D;
   outline: none;
   border: none;
   color: #fff;
   font-size: 15px;
}

#bestill_btn:hover {
    cursor:pointer;
    background-color:seashell;
    color: red;
    transition: all 0.4s ease-out;
}

@media screen and (max-width: 1250px) {
    .informasjon-container {
        display: flex;
        flex-wrap: wrap;
    }
    
}
@media screen and (max-width: 800px) {
    html, body {
        overflow-x: hidden;
    }

}

@media screen and (max-width: 976px) {
    .footer-heading {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 680px) {
    .title-teknikere {
        font-size: large;
    }
}









